{% extends "base.html" %}

{% block site_meta %}
    {{ super() }}
    {% if page %}<meta property="og:title" content="HPE Storage Container Orchestrator Documentation"/>
    <meta property="og:description" content="This is an umbrella documentation project for all container integrations surrounding HPE primary storage. Tailored for IT ops, developers and partners. Including HPE Alletra, Nimble Storage and Primera."/>{% endif %}
    <meta property="og:locale" content="en_US"/>
    <meta property="og:url" content="https://scod.hpedev.io"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://scod.hpedev.io/img/hpe-social-og-image01.jpg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    {% endblock %}

{% block footer %}

<footer>
  {%- block next_prev %}
  {% if page and page.next_page or page.previous_page %}
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      {% if page.next_page %}
        <a href="{{ page.next_page.url|url }}" class="btn btn-neutral float-right" title="{{ page.next_page.title }}">Next <span class="icon icon-circle-arrow-right"></span></a>
      {% endif %}
      {% if page.previous_page %}
        <a href="{{ page.previous_page.url|url }}" class="btn btn-neutral" title="{{ page.previous_page.title }}"><span class="icon icon-circle-arrow-left"></span> Previous</a>
      {% endif %}
    </div>
  {% endif %}
  {%- endblock %}

  <hr/>

  <div role="contentinfo">
    <!-- Copyright etc -->
    {% if config.copyright %}
    <p>{{ config.copyright }}<br />Give <a href="https://github.com/hpe-storage/scod/issues/new?title={{ page.url }}">feedback</a> on this page.</p>
    {% endif %}
  </div>
</footer>
{% endblock %}
